body {
  text-align: center;
  background-image: url("images/dholakpur.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}
.kalia {

	position: absolute;
	/*right: 40px;
	bottom: 10px;*/
	visibility: none;
	border-radius: 0;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	right:0;
	bottom: 0;
	
}
.row {
	height: 40%;
}
.top {
	height: 20%;
}
.hide {
	height: 300px;
	width: 300px;
	position: absolute;
	right: 40px;
	bottom: 10px;
	visibility: hidden;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  1% 5%;
  color: #eeeeee;
}
h2 {
	font-family: 'Ranchers', cursive;
    font-size: 2rem;
    margin:  2% 5%;
    color: #b52b65;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}
img {
  height: 200px;
  width: 200px;
  border-radius:20%;
	
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  
  border-radius: 20%;
}

.game-over {
  background-image: url("images/red.jpg");
  opacity: 0.8;
  /*background-image: url("images/kalia.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 5;*/
  
 
}

.red {
background-color: #9ad3bc;
border: 10px solid #4e8d7c;
  
}

.green {
  background-color: #f5b461;
  border: 10px solid orange;

}

.blue {
  background-color: #bedcfa;
    border: 10px solid #00b7c2;
}

.yellow {
  	background-color: #fca3cc;
	border: 10px solid #d35d6e;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

button {
    display: none;
}


@media (max-width: 1000px) {
	h1{display: none;}
	body {
  background-image: url("images/dholakpur.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}
.top{
	margin-top: 10%;
	margin-bottom: 5%;
}

.container{
	width: 100%;
	margin-top: 5%;
	margin-bottom: 10%;
}
button {
	display: inline;
  background: #34d9d9;
  background-image: -webkit-linear-gradient(top, #34d9d9, #2980b9);
  background-image: -moz-linear-gradient(top, #34d9d9, #2980b9);
  background-image: -ms-linear-gradient(top, #34d9d9, #2980b9);
  background-image: -o-linear-gradient(top, #34d9d9, #2980b9);
  background-image: linear-gradient(to bottom, #34d9d9, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 38px;
   border: solid #1f628d 1px;
  padding: 10px 17px 10px 17px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
    

}
